

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  background-color: #FFF;
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 25px 175px 25px;
  position: relative;
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
  z-index: 1;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 15px 25px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(122, 122, 122, .2);
  padding: 30px 22px;
}

p {
  color: #7A7A7A;
  font-size: .9em;
  line-height: 1.75em;
}

button {
  border: none;
  background: #3CB4AC;
  padding: 15px 40px;
  color: #FFF;
  border-radius: 25px;
  font-weight: 700;
}

/*------- PROJECT HEADING SECTION - MOBILE ------ */

.project-header {
  position: relative;
  z-index: 0;
}

.mastercraft-logo-div {
  position: absolute;
  z-index: 1;
  top: -25px;
}

h1 {
  text-align: center;
  font-size: 1.3em;
  padding-top: 10px;
}

.project-header p {
  text-align: center;
  padding-bottom: 10px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.backing-button {
    padding: 17px 50px;
    font-size: .9em;
}

.bookmark-section {
  display: flex;
  background: none;
  padding: 0;
}

/*=== PROJECT PROGRESS SECTION - MOBILE -----*/

.project-progress {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.75em;
}

.project-progress p {
  text-align: center;
  margin: 10px 0 25px;
  padding-bottom: 25px;
  font-size: .8em;
  border-bottom: 1px solid rgba(122, 122, 122, .5);
}

.days-left p {
  border: none;
  margin-bottom: 10px;
}


.progress-bar-section {
  width: 100%;
  background-color: rgba(122, 122, 122, .1);
  height: .9em;
  display: flex;
  justify-content: flex-start;
  border-radius: 25px;
}

.progress-bar-fill {
  width: 90%;
  height: 100%;
  background-color: #3CB4AC;
  border-radius: 25px;
}

/*====== ABOUT SECTION - MOBILE ====== */

h3 {
  text-align: left;
  width: 100%;
}

.about p {
  line-height: 2em;
}

.pledge {
  border-radius: 7px;
  margin: 15px 0;
  border: 1px solid rgba(122, 122, 122, .5);
  padding:  10px 20px 25px 20px;
}

.pledge-heading h4 {
  margin-bottom: 5px;
}

.pledge-heading p {
  color: #3CB4AC;
  margin-top: 0;
  margin-bottom: 20px;
}

.pledge-footer p {
  display: flex;
  align-items: center;
  margin: 20px 0 25px 0;
}

.pledge-footer span {
  color: #000;
  font-weight: 700;
  font-size: 1.8em;
  padding-right: 8px;
}

.mahogany h4{
  color: rgba(122, 122, 122, .5);
}

.mahogany .pledge-heading p {
  color: rgba(60, 180, 172, .5);

}

.mahogany p{
  color: rgba(122, 122, 122, .5);
}

.mahogany p span {
  color: rgba(0, 0, 0, .5);
}

.mahogany button {
  background-color: rgba(122, 122, 122, .5);
}

/*==== MAIN MODAL - MOBILE ===== */

.selection-modal-background {
  position: relative;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  z-index: 100;
  padding: 150px 25px;
}

.selection-modal {
  background: #FFF;
}



.hide {
display: none;
}
